.companylike {
  padding-top: 5rem;
}

.companylike h1 {
  font-weight: 400;
  display: block;
  text-align: center;
  font-size: 1.4rem;
}

.companylike .logo-img {
  margin-top: 2rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.companylike .logo-img img {
  padding: 0 3rem;
  width: 15%;
}

@media only screen and (max-width: 1448px) {
  .companylike .logo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .companylike .logo-img img {
    padding: 0 3rem;
    width: 20%;
  }
}

@media only screen and (max-width: 1196px) {
  .companylike h1 {
    font-weight: 400;
    display: block;
    text-align: center;
    font-size: 1.4rem;
  }
  .companylike .logo-img img {
    padding: 0 3rem;
    margin-top: 2rem;
    width: 30%;
  }
}

@media only screen and (max-width: 1196px) {
  .companylike .logo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .companylike .logo-img img {
    padding: 0 3rem;
    width: 30%;
  }
}

@media only screen and (max-width: 800px) {
  .companylike .logo-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .companylike .logo-img img {
    padding: 0 3rem;
    width: 50%;
  }
}
