.extra-content {
  padding-top: 1rem;
}

.extra-content p {
  margin: 1rem 0;
}

.extra-top {
  padding: 0 13rem;
  text-align: center;
}

.extra-top h1 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

.extra-top p {
  font-size: 1rem;
}

.extra-btn-change {
  margin-top: 2rem !important;
  border: 1px solid #242f51;
  width: fit-content;
  margin: 0 auto;
  padding: .4rem 1rem;
  border-radius: 40px;
  position: relative;
  display: block;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.extra-btn-change p {
  color: #fff;
}

.extra-btn-change p:nth-of-type(2) {
  color: #242f51;
  padding-left: .8rem !important;
}

.extra-btn-change::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  z-index: -1;
  height: 100%;
  background: #2500f9;
}

.extra-card {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.extra-card > div {
  border: 1px solid #ebebeb;
  padding-bottom: 4rem;
  text-align: center;
  margin: 0  1.7rem;
  box-shadow: 0px 29px 58px -40px #000;
}

.extra-card-top {
  padding: 1rem 2rem;
  background: linear-gradient(0deg, black 0%, #919191 0%, #cacaca 0%, #e3e3e3 0%, white 100%);
}

.extra-card-top .price {
  font-size: 3rem;
  padding-bottom: .3rem;
  font-weight: 700;
}

.extra-card-top .price span {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
}

.extra-card-top h1 {
  font-size: 1.5rem;
}

.extra-bottom a:nth-of-type(1) {
  background: #2500f9;
}

.extra-bottom a:nth-of-type(2) {
  padding-top: 1rem;
  color: #242f51;
}

.extra-bottom a {
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: .6rem 1rem;
  border-radius: 40px;
  color: #fff;
}
