@import "./valiabale.scss"; 

.asked{
    padding-top: 7rem !important;
       padding: 0 7rem;
    &-top{
        padding:  0 13rem;
        text-align: center;
        h1{
          font-size: 2rem;
          padding-bottom: 1rem;
        }
        p{
            font-size: 1rem;
        }
    }
    &-content{
        
        &-main{
            background: #f5f7fa;
            padding: 1.5rem 2rem;
            h1{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
        }
        &-choose{

            li{
                @include displayFlex(space-between , center ,false);
                background: #f5f7fa;
                padding: .4rem 2rem;
                margin: .4rem 0;
                p{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media only screen and (max-width : 1536px){
    .asked {
        &-top{
            padding:  0 4rem;
        }
    }
}
@media only screen and (max-width : 1200px){
    .asked {
        &-top{
            padding:  0 2rem;
        }
    }
}
@media only screen and (max-width : 970px){
    .asked {
        padding: 0 3rem;
        &-top{

            padding:  0 2rem;
        }
    }
}

@media only screen and (max-width : 776px){
    .asked {
        padding: 0 0rem;
        &-top{

            padding:  0 2rem;
          p{
              font-size: 1rem;
          }
        }
        &-content{
            &-main{
            h1{
                font-size: 1.3rem !important;
            }
            p{
                font-size: .8rem;
            }
        }
        &-choose{
          li{
              padding:  .1rem .3rem;
              p{
                  font-size: .8rem;
              }
          }
        }
        }
    }
}