@import "./valiabale.scss"; 
 
.design { 
    padding-top: 7rem;
    flex-wrap: nowrap !important;
    @include displayFlex (space-between , center ,false);
    &-img{
        padding-left: 2rem;
        img{
            width: 100%;
        }
    }
    &-content{
        width: 70%;
        padding:  0 4rem;
        *{
            padding: .8rem 0rem;
        }
        h1{
            font-size:2rem;
        }
        p{
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }
        a{
            font-size: .8rem;
            background: $color-btn-main;
            color: $color-white;
            padding:  .7rem 2rem;
            border-radius: 40px;
        }
    }
}