@import "./valiabale.scss";

.feature{
    color: #929397;
    padding-top: 6rem;
    @include displayFlex(space-between , start ,false);
    &-img{
        width: 30%;
        img{
           width: 100%;
        }
    }
    &-content{
        width: 60%;
        padding: 0 4rem;
        padding-left: 0;
        padding-top: 2rem;
        &-top{

       h1{
           &:first-of-type{
               font-size: 2rem;
           }
                       
        }
       }
       & > div:not(:first-child){
           flex-wrap: nowrap !important;
           padding: 1rem 0;
          @include displayFlex(start , center , false);
          img{
              width: 4rem;
              padding:  0 .7rem;
              padding-left:  0rem;
          }
          h1{
              font-size: 1.3rem;
          }
          p{
              font-size: 1.1rem;
          }
       }
    }
    
}
@media only screen and (max-width : 1620px){
    .feature{
        width: 85%;
    }
}
@media only screen and (max-width : 1620px){
    .feature{

        &-img{
            width: 40%;
            img{
               width: 100%;
            }
        }
    }
}
@media only screen and (max-width : 1620px){
    .feature{

        &-img{
            width: 40%;
            img{
               width: 100%;
            }
        }
        &-content{
            width: 60%;
            padding: 0 ;
    }
}
}
@media only screen and (max-width : 1044px){
    .feature{
        &-content{
            width: 60%;
            &-top{
           h1{
               &:first-of-type{
                   font-size: 1.6rem;
               }
            }
           }
           & > div:not(:first-child){
              img{
                  width: 3rem;
              }
              h1{
                  font-size: .9rem;
              }
              p{
                  font-size: .7rem;
              }
           }
        }
        
    }
  
}
@media only screen and (max-width : 810px){
    .feature{
        width: 95%;
        position: relative;
        &-img{
            width: 50%;
            position: absolute;
            z-index: 0;
        }
        &-content{
            background: rgba(255 ,255, 255 , .6);
            z-index: 1;
            padding: 1rem 3rem;
            margin: 0 auto;
            width: 65%;
            &-top{
           h1{
               &:first-of-type{
                   font-size: 1.6rem;
               }
            }
           }
           & > div:not(:first-child){
              img{
                  width: 3rem;
              }
              h1{
                  font-size: .9rem;
              }
              p{
                  font-size: .7rem;
              }
           }
        }
        
    }
  
}
@media only screen and (max-width : 668px){
    .feature{
        width: 100%;

        &-content{
            width: 65%;
            &-top{
           h1{
               &:first-of-type{
                   font-size: 1.4rem;
               }
            }
            p{
                font-size: .7rem;
            }
           }
           & > div:not(:first-child){
              img{
                  display: none;
                  width: 3rem;
              }
              h1{
                  font-size: .9rem;
              }
              p{
                  font-size: .7rem;
              }
           }
        }
        
    }
  
}
@media only screen and (max-width : 556px){
    .feature{
        width: 100%;
       
        &-img{
         display: none;
        }
        &-content{
            
           text-align: center;
            width: 90%;
            &-top{
           h1{
               &:first-of-type{
                   font-size: 1.4rem;
               }
            }
            p{
                font-size: .7rem;
            }
           }
           & > div:not(:first-child){
              img{
                  display: none;
                  width: 3rem;
              }
              h1{
                  font-size: .9rem;
              }
              p{
                  font-size: .7rem;
              }
           }
        }
        
    }
  
}