@import "./valiabale.scss";

.jackpots{

    padding-top: 5rem ;
   
    &-top{
        padding: 0 2rem;
        flex-wrap: nowrap !important;
        @include displayFlex(space-between , center , false);
        h1{
            padding: 0 6rem;
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }
    &-content{
        padding: 0 8rem;
        padding-top: 3rem;
        @include displayFlex (space-between , start , false);
        & > div {
            width: 30%;
            h1{
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
            img{
                width: 5rem;
                padding: 2rem ;
                padding-bottom: 1rem;
                padding-left: 0;
            }
        }
    }
}
@media only screen and (max-width : 1300px ){
    .jackpots{
        width: 90%;
        &-top{
            h1{
                padding: 0;
                padding-left: 1rem;
                font-size: 1.7rem;
            }
            p{
                margin-left: 2rem;
            }
        }
        &-content{
            & >div{
                h1{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
@media only screen and (max-width : 1072px ){
    .jackpots{
        &-content{
            padding: 0 3rem;
            padding-top: 3rem;
            & >div{
                h1{
                    font-size: 1.5rem;
                }
            }
        }
    }
}
@media only screen and (max-width : 1008px ){
    .jackpots{
        &-content{
            padding: 0 3rem;
            padding-top: 3rem;
            & >div{
                text-align: center;
                h1{
                    font-size: 1.1rem;
                }
                p{
                    font-size: .8rem;
                }
                img{
                    width: 4rem;
                }
            }
        }
    }
}
@media only screen and (max-width : 785px ){
    .jackpots{
        &-top{
            flex-direction: column;
            text-align: center;
            p{
                padding: 0 ;
                padding-top: 1rem;
            }
        }
        &-content{
            align-items: center;

            flex-direction: column;
           
            & >div{
                width: 60%;
                text-align: center;
                h1{
                    font-size: 1.1rem;
                }
                p{
                    font-size: .8rem;
                }
                img{
                    padding: 1rem;
                    width: 4rem;
                }
            }
        }
    }
}
@media only screen and (max-width : 535px ){
    .jackpots{
        &-top{
            h1{
                font-size: 1.3rem;
            }
            p{
                font-size: .7rem;
            }
        }
        &-content{
            & >div{
                width: 80%;
                text-align: center;
                h1{
                    font-size: 1rem;
                }
                p{
                    font-size: .8rem;
                }
                img{
                    padding: 1rem;
                    width: 3.7rem;
                }
            }
        }
    }
}