@import "./valiabale.scss";

.wrapper{
    @include backgroundImg("../img/bg-wrapper_01.jpg");
     &-img{
         height: 100%;
         img{
             height: 100%;
         }
     }
    &-container{
        padding-top: 5rem;
        height: 100vh;

        @include displayFlex(space-between , center , false)
    }
    &-left{
        width: 60%;
        &-tag{
            width: fit-content;
            border-radius: 10px;
            padding-right: 1rem;
            background: #e2eaed;
            @include displayFlex(start , center ,false);
            img{
                width: 19px;
            border-radius: 100%;
          background:#feaa25;
            }
           p{
             
               padding-left: .6rem;
           }
        }
        &-content{
            h1{
                margin: .5rem 0;
               
            }
            p{
                margin: .5rem 0;
            }
        }
        &-bottom{
            margin-top: 1.5rem;
           a{
               font-weight: 700;
               padding: .7rem 2rem;
               color: $color-white;
               border-radius: 20px;
               &:nth-child(1){
                background: $color-btn-main;
               }
               &:nth-child(2){
                color: $color-text-main;
               }
           }
           
        }
    }
   
}
.icon-tag{
    background: #feaa25;
}

@media only screen and (max-width : 1600px){
    .wrapper{
         &-img{
             height: 100%;
             img{
                 height: 80%;
             }
         }
        &-container{
            padding-top: 5rem;
            width: 90% !important;
            height: 100vh;
    
            @include displayFlex(space-between , center , false)
        }
    }
}
@media only screen and (max-width : 1108px){
    .wrapper{
         &-img{
             height: 80%;
             img{
                 height: 80%;
             }
         }
        &-container{
            padding-top: 5rem;
            width: 90% !important;
            height: 100vh;
    
            @include displayFlex(space-between , center , false)
        }
    }
}
@media only screen and (max-width : 892px){
    .wrapper{
        &-left{
            width: 50%;
            &-tag{
               p{
                 font-size: .7rem;
                   padding-left: .6rem;
               }
            }
            &-content{
                h1{
                    font-size: 1.3rem;
                }
                p{
                    font-size: .7rem;
                }
            }
            &-bottom{
                margin-top: 1.5rem;
               a{
                   padding: .5rem 1.7rem;
                   font-size: .7rem;
               }
               
            }
        }
       
    }
}
@media only screen and (max-width : 716px){
    .wrapper{
        &-img{
            height: 60%;
        }
        &-left{
            width: 50%;
            &-tag{
                p{
                  font-size: .5rem;
                    padding-left: .6rem;
                }
             }
             &-content{
                 h1{
                     font-size: 1rem;
                 }
                 p{
                     font-size: .5rem;
                 }
             }
            &-bottom{
                margin-top: 1.5rem;
               a{
                   padding: .4rem 1rem;
                   font-size: .5rem;
               

            }
        }
    }
    }
}
@media only screen and (max-width : 540px){
    .wrapper{
        &-img{
            padding-left: 2.8rem;
            padding-top: 2rem;
            position: absolute;
            height: 100%;
            z-index: 0;
        }
        &-left{
            border: 1px solid $color-text-main;
            z-index: 1;
            margin: 0 auto;
            padding: 2rem 4rem;
            background: $color-white;
            width: 70%;
            
            &-bottom{
                margin-top: 1.5rem;
               a{
                   padding: .4rem 1rem;
                   font-size: .6rem;
               

            }
        }
    }
    }
}
@media only screen and (max-width : 504px){
    .wrapper{
        &-left{
            margin: 0 auto;
            padding: 3.5rem 3.2rem;
            background: $color-white;
            width: 80%;
            &-tag{
                p{
                  font-size: .4rem;
                    padding-left: .6rem;
                }
             }
             &-content{
                 h1{
                     font-size: .7rem;
                 }
                 p{
                     font-size: .4rem;
                 }
             }
            &-bottom{
                margin-top: 1.5rem;
               a{
                   padding: .3rem .7rem;
                   font-size: .4rem;
               

            }
        }
    }
    }
}